@if (Request.IsAuthenticated)
{
    <div ng-app="onlineCardGames">
        <ui-view></ui-view>
    </div>

    <script type="text/javascript" src="~/Scripts/angular.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-ui-router.js"></script>
}
else
{
    <p>Register Here:</p>
    @Html.ActionLink("Register", "Register", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "registerLink" })
}


